<link rel="stylesheet" href="assets/css/footer.min.css">
<div class="footer">
<div id="flex-container">
    <div class="news" id="flex">RECEVEZ NOTRE NEWSLETTER</div>
    <label class="mail" for="email"></label>
    <input type="email" id="email" 
       pattern=".+@gmail.com" size="30" required placeholder="Entrez votre email">
</div>
  <nav>
    <ul class="in" id="nav">
      <a>Suivez-nous</a>
      <img src="./assets/images/twitter.png" alt style ="height: 50px;"></a>
      <img src="./assets/images/facebook.png" alt style ="height: 50px;">
      <img src="./assets/images/instagram.png" alt style ="height: 50px;">
      <a>Presse</a>
      <a>Fondateurs</a>
      <a>C.G.U</a>
      <a>C.G.V</a>
      <a>Mentions légales</a>
    </ul>
  </nav>
  <div class="copy">© 2020 - 2021 ServDrone SAS</div>
</div>



