<div class="header">
  <nav>
    <a id="logo" href="index.html"><img src="./assets/images/Logo.svg" alt=""></a>
    <ul class="o" id="menu">
      
      <li><a href="drone-history.html">Histoire du drone</a></li>
      <li><a href="support.html">Support & Explication technique</a></li>
      <li><a class="btn" href="">Boutique</a></li>
    </ul>
  </nav>
  <a id="hamburger-btn" onclick="menu()">&#9776;</a>
  <div id="list">
    <ul id="hamburger-menu">
    </ul>
  </div>
</div>
