.footer{
  background-color: #01918e;
  color:#1e2022;
  font-family:"Oswald",sans-serif;
  font-size:20px;
  text-decoration:none;
}

#flex-container{
  background-color: #01918e;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 1%;
  font-family: bold;
  align-items: center;
  text-align: center;
}

.in{
  background-color: #F0F5F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.news{
  color: #F0F5F9;
  font-weight: bold;
  font-size: 25px;
}

.mail{
  color: #F0F5F9;
  margin-left: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  font-size: 25px;
}

::-webkit-input-placeholder {
  text-align: center;
}

.copy{
  display: flex;
  justify-content: space-between;
  margin-left: 40%;
  color: #F0F5F9;
  padding-bottom: 1%;
}

/* les petits écrans de téléphones en dessous de 799px */

@media (max-width: 799px) {
  .footer{
      background-color: #01918e;
      color:#1e2022;
      font-family:"Oswald",sans-serif;
      font-size:20px;
      text-decoration:none;
  }
  
  .flex-container{
      background-color: #01918e;
      display: flex;
      justify-content: space-between;
      padding-right: 15%;
      padding-left: 15%;
      padding-top: 1%;
      font-family: bold;
      align-items: center;
      text-align: center;
  }
  
  .in{
      background-color: #F0F5F9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
  }
  
  .news{
      color: #F0F5F9;
      font-weight: bold;
      font-size: 25px;
  }
  
  .mail{
      color: #F0F5F9;
      margin-left: 1%;
      padding-bottom: 0.5%;
      padding-top: 0.5%;
      font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
      text-align: center;
   }

  .copy{
      display: flex;
      justify-content: space-between;
      margin-left: 40%;
      color: #F0F5F9;
      padding-bottom: 1%;
  }
}

/* les écrans de téléphones entre 800px et 999px */

@media (min-width: 800px) and (max-width: 999px){
  .footer{
      background-color: #01918e;
      color:#1e2022;
      font-family:"Oswald",sans-serif;
      font-size:20px;
      text-decoration:none;
  }
  
  .flex-container{
      background-color: #01918e;
      display: flex;
      justify-content: space-between;
      padding-right: 15%;
      padding-left: 15%;
      padding-top: 1%;
      font-family: bold;
      align-items: center;
      text-align: center;
  }
  
  .in{
      background-color: #F0F5F9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
  }
  
  .news{
      color: #F0F5F9;
      font-weight: bold;
      font-size: 25px;
  }
  
  .mail{
      color: #F0F5F9;
      margin-left: 1%;
      padding-bottom: 0.5%;
      padding-top: 0.5%;
      font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
      text-align: center;
   }

  .copy{
      display: flex;
      justify-content: space-between;
      margin-left: 40%;
      color: #F0F5F9;
      padding-bottom: 1%;
  }
}

/* les écrans entre 1000px et 1299px */

@media (min-width: 1000px) and (max-width: 1299px){
  .footer{
      background-color: #01918e;
      color:#1e2022;
      font-family:"Oswald",sans-serif;
      font-size:20px;
      text-decoration:none;
  }
  
  .flex-container{
      background-color: #01918e;
      display: flex;
      justify-content: space-between;
      padding-right: 15%;
      padding-left: 15%;
      padding-top: 1%;
      font-family: bold;
      align-items: center;
      text-align: center;
  }
  
  .in{
      background-color: #F0F5F9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
  }
  
  .news{
      color: #F0F5F9;
      font-weight: bold;
      font-size: 25px;
  }
  
  .mail{
      color: #F0F5F9;
      margin-left: 1%;
      padding-bottom: 0.5%;
      padding-top: 0.5%;
      font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
      text-align: center;
   }

  .copy{
      display: flex;
      justify-content: space-between;
      margin-left: 40%;
      color: #F0F5F9;
      padding-bottom: 1%;
  }
}

/* les trés grands écrans à partir de 1300px */

@media (min-width: 1300px){
  .footer{
      background-color: #01918e;
      color:#1e2022;
      font-family:"Oswald",sans-serif;
      font-size:20px;
      text-decoration:none;
  }
  
  .flex-container{
      background-color: #01918e;
      display: flex;
      justify-content: space-between;
      padding-right: 15%;
      padding-left: 15%;
      padding-top: 1%;
      font-family: bold;
      align-items: center;
      text-align: center;
  }
  
  .in{
      background-color: #F0F5F9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
  }
  
  .news{
      color: #F0F5F9;
      font-weight: bold;
      font-size: 25px;
  }
  
  .mail{
      color: #F0F5F9;
      margin-left: 1%;
      padding-bottom: 0.5%;
      padding-top: 0.5%;
      font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
      text-align: center;
   }
   
  .copy{
      display: flex;
      justify-content: space-between;
      margin-left: 40%;
      color: #F0F5F9;
      padding-bottom: 1%;
  }
}