div.header {
  background-color: #1e2022;
  height: 137px;
  width: 100vw;
  border-bottom: 3px solid #01918e;
  position: fixed;
  a {
    color: #f0f5f9;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      color: #01918e;
    }
    &:after {
      color: #f0f5f9;
    }
  }
}
header {
  position: absolute;
  top: 0;
  z-index: 9999;
}
nav {
  margin-top: 0;
  .o {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

    li {
      display: inline-block;
      margin-top: 26px;
      margin-left:100px;
    }
  }
}
.btn {
  padding: 15px 35px;
  background-color: #01918e;
  color: #f0f5f9;
  text-decoration: none;
  &:hover {
    color: #f0f5f9 !important;
  }
}
#hamburger-btn {
  display: none;
}
#hamburger-menu {
  list-style-type: none;
  width: 100vw;
  overflow: visible;
  text-align: center;
  position: absolute;
  left: -40;
  top: 124;
  padding-left: 0;
}
#list {
  display: none;
  list-style-type: none;
  min-width: 100vw;
  margin-top: 124px;
}
#logo {
  float: left;
  margin-left: 30px;
}
@media (max-width: 1250px) {
  header .btn {
    padding: 0;
    background-color: initial;
    color: #1e2022 !important;
  }
  #hamburger-btn {
    display: block;
    font-size: calc(40px + 1vw);
    float: right;
    margin-top: 20px;
    margin-right: 30px;
  }
  #hamburger-menu li {
    background-color: aliceblue;
    width: 100%;
    padding: 30px 0;
    box-shadow: 0px 5px 5px #1e2022;
    border: 0;
    &:hover {
      background-color: #01918e;
    }
    a {
      color: #1e2022;
      font-size: calc(30px + 1vw);
      &:hover {
        color: #f0f5f9;
      }
    }
  }
  #menu {
    display: none;
  }
  #logo {
    margin-top: 16px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 60px !important;
  }
  #hamburger-btn {
    margin-top: 0;
  }
  #hamburger-menu li {
    padding: 15px 0;
    a {
      font-size: 20px;
    }
  }
  #hamburger-btn {
    font-size: 30px;
    margin-top: 5px;
  }
  #list {
    margin-top: 47px;
  }
  #logo {
    width: 200px;
    margin-left: 10px;
  }
  #logo img {
    width: 100px;
  }
}
