body {
  margin: 0;
  background-color: aliceblue;
  width: 100vw;
  font-family: "lato", sans-serif;
  color: #1e2022;
}
#main {
  margin: 0 10%;
 
  > * {
    margin: 150px 0;
  }
}

h1 {
  font-family: "Lato", sans-serif !important;
}
h1,
h2,
h3 {
  text-align: center;
}

p {
  width: calc(100%);
  // font-size: calc(10px + 0.7vw) !important;
}
strong {
  font-weight: bolder;
}

.arrow {
  margin: 20px 0;
}

.container {
  display: flex;
  margin-top: 25px;
}
.container-row {
  display: flex;
  flex-direction: column;
}

.oswald {
  font-family: "oswald", sans-serif;
}
.img-pres {
  width: 80px;
  height: 80px;
  align-self: center;
}

.r {
  display: flex;
  justify-content: space-evenly;
  li {
    font-size: calc(10px + 0.7vw);
  }
}

.product-container {
  float: left;
  width: 65%;
  height: 450px;
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  justify-content: space-evenly;

  .price {
    align-self: center;
    ul li:last-child {
      margin-top: 20px;
    }
    ul {
      text-align: center;
      padding: 0;
    }
  }
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-top: 5px;
    }
  }
}

#download {
  margin-top: 150px;
  margin-bottom: 150px;

  div {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      width: 60%;
      margin: auto;
    }
    a img {
      width: 150px;
      height: 40px;
      margin: auto 0;
    }
  }
}

#img {
  background-image: url("../images/plan.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  //  height: 460px;
  width: 100%;
  // margin-top: 200px;

  div {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      width: 80%;
      align-self: center;
      margin: auto;
    }
  }
}

.partner {
  div p {
    align-self: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
  }
  div img {
    width: 100%;
  }
}

.partner div:nth-child(even) {
  p {
    margin-left: 30px;
  }
}
.partner div:nth-child(odd) {
  p {
    margin-right: 30px;
  }
}

#presentation {
  margin-top: 250px;
  h1 {
    margin-bottom: 100px;
  }

  div {
    img {
    }
    div {
      p {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #1e2022;
        padding-left: 30px;
        margin: 7px 0;
      }
    }
  }
}

#products {
  width: 100%;
  height: 450px;
  box-shadow: 0px 1px 1px #1e2022;
  .tab {
    float: left;
    background-color: #1e2022;
    width: 30%;
    height: 100%;
    .tablinks {
      font-family: "oswald", sans-serif;
    }
    .active {
      background-color: #01918e;
      font-size: 19px;
    }
    button {
      &:hover {
        background-color: #01918e;
      }
      display: block;
      background-color: inherit;
      color: aliceblue;

      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.2s;
      font-size: 17px;
      height: calc(100% / 3);
    }
  }
}

@media (max-width: 1270px) {
  .hidden {
    display: none;
  }

  #presentation {
    div div p {
      margin: 15px 0;
      font-size: calc(10px + 1vw);
    }
  }
}

@media (max-width: 500px) {
  #main {
    margin: 0 5%;
  }
  .r {
    flex-wrap: wrap;
  }
  .tab {
    .active {
      font-size: 18px;
      text-align: left;
    }
  }
  #img {
    height: 10%;
    img {
      width: 50%;

      margin: 0;
    }
  }
  .partner {
    div p {
      text-align: justify;
      align-self: initial;
      width: 100%;
    }
    div div {
      width: 100%;
      align-self: center;
    }
  }
  .partner div:nth-child(even) {
    flex-wrap: wrap;
    p {
      margin-left: 0;
    }
  }
  .partner div:nth-child(odd) {
    flex-wrap: wrap-reverse;
    p {
      margin-right: 0;
    }
  }
  #products {
    width: 100%;
    height: 550px;
    margin: 100px 0;
  }
}

#arrow {
  height: 560px !important;
}
