.presentation-presse > p:nth-child(1) {
    width: 80%;
    margin: 0 auto;
}
  
.presse-en-parle {
    height: 83px;
    background: #00918E;
}
  
.title-presse {
    font-family: Oswald;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    color: #F8FBFD;
    justify-content: center;
}

.img-presse > img:nth-child(1) {
    width: 500px;
    height: 500px;
}

.img-presse > img:nth-child(2) {
    width: 500px;
    height: 500px;
}

.img-presse {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.titre-contact-presse {
    height: 83px;
    background: #00918E;
}

.contenu-contact-presse {
    height: 200px;
    background: #F8FBFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    width: 1129px;
}

.contenu-contact-presse > p:nth-child(1) {
    width: 70%;
    margin: 0 auto;
    line-height: 40px;
}
  
.media {
  text-align: right;
  margin: 100px 0;
}

.presentation-presse > p:nth-child(1) {
    margin-bottom: 100px;
}
  
@media (max-width: 1190px){
    .img-presse {
        flex-direction: column;
        align-items: center;
    }
    .img-presse > img:nth-child(1) {
        margin-bottom: 100px;
        width: 337px;
    }
    .img-presse > img:nth-child(2) {
        width: 337px;
    }
    .contenu-contact-presse {
        width: inherit;
    }
    .contenu-contact-presse > p:nth-child(1) {
        width: inherit
    }
    .contenu-contact-presse > p:nth-child(1) {
        line-height: 25px;
    } 
}