.container-support {
  display: flex;
  flex-direction: column;
}

.aide-support-datalist {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

input#Aides {
  background: rgba(30, 32, 34, 0.5);
  padding-top: 30px;
}

#container-dynamique {
  display: flex;
  justify-content: center;
}

#choix-aides{
  width: 50vw;
  height: 100%;
  font-size: 1em;
}

.btn {
  width: 60px;
}

.button-support {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-support-email {
  margin-right: 350px;
  margin-left: 30px;
}

#dynamique-text {
  display: flex;
  justify-content: center;
  background: rgba(30, 32, 34, 0.1);
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: justify;
  font-weight: bolder;
  font-size: large;
  padding-left: 50px;
  padding-right: 50px;
}


@media (max-width: 768px) {
  #dynamique-text {
      width: 70%;
  }
  .button-support {
      display: flex;
      text-align: center;
      align-items: baseline;
      justify-content: space-around;
  }
  .button-support-email {
      margin: inherit;
      margin-bottom: 150px;
  }
}